NODE_ENV = development
PORT = 3333
HOST = "0.0.0.0"

POSTGRES_USER= postgres
POSTGRES_PASSWORD= 12345678
POSTGRES_DB= postgres
POSTGRES_PORT= 5432
HASH_SALT_ROUNDS=12
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/postgres?schema=public"
JWT_SECRET=123456789012345678901234567890123456789012345678901234567890

EXPIRES_IN= 10
TOKEN_LENGTH= 16

SMTP_EMAIL=lucasla@id.uff.br
SMTP_PASSWORD=kvwmjhvailyjinwm
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false